*,
*::before,
*::after {
	margin: 0px;
	padding: 0;
}



/* header setting */ 
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:black;
	border-bottom: solid 5px white;
  }
  
  li {
	float: left;
  }
  
  /* colour of font */
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: rgb(153, 152, 152);
  }

  .searchBar {
	float: right;
  	padding: 6px;
  	border: none;
  	margin-top: 8px;
	margin-right: 16px;
	color: black;
	
}
/* Aligning user button to the right  */
.user {
	float: right;
}

/* amending main body of the page */
body {
	background-image: url("img/background.png");
	background-repeat: 'no-repeat';
	background-size: cover;
}

/* Div class container editing for the main text */

.container {
	color: white;
	font-weight: bold;
	text-align: center;
	position: fixed;
	top: 45%;
  	left: 50%;
}

.welcome {
	padding: 3px;
	height: 70%;
	width: 120%;
	font-size: 50px;
	background: black;
	margin: 10px;
	text-align: center;
	top: 50%;
  	left: 50%; 
 	transform: translate(-50%, -50%);
}

.newUser { 
	padding: 3px;
	height: 40%; 
	width: 80%;
	font-size: 25px;
	background: black;
	margin: 10px;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

/* draft styling for dashboard */
/* .activeProjects {
	padding: 3px;
	height: 30px;
	width: 450px;
	background: black;
	color: white;
	font-weight: bold;
    position: relative; 
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
	justify-content: space-around; */


.userContainer {
	font-weight: bold;
	background-color: black;
	margin: 10px;
	color: white;
	height: 645px;
	width: 400px;
	float: right;	
	opacity: 85%;
}

.userDetails {
	text-align: center;
	
}

.box {
	box-sizing: border-box;
	width: 660px;
	height: 620px;
	opacity: 90%;
	background-color: black;
	border: 2px;
	border-style: solid;
	box-shadow: -3px -3px 7px #ffffff73;
	border-radius: 5px;
	margin-top: 50px;
	overflow: hidden;
	margin: 5px;
	text-align: center;
	position: fixed;
  	top: 50%;
  	left: 50%;
 	transform: translate(-50%, -50%);
}

.img {
	box-sizing: border-box;
	width: 149px;
	height: 149px;
	border-radius: 50%;
	margin: 20px;
	border: 5px #e0e6eb;
	border-style: solid;
	padding: 3px;
	background:none;
	float: none;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
	justify-content: space-around;
}

.button {
	display: block;
	box-sizing: border-box;
	background: none;
	color:white;
	margin-bottom: 30px;
	padding: 4px;
	width: 500px;
	height: 32px;
	border:none;
	border-bottom: 1px;
	border-bottom: solid;
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2 ease;
	margin-left: auto;
 	margin-right: auto;
	 align-content: center;
}

.button1 {
	height:40px;
	width: 115px;
	border-radius: 5px;
	margin:4px;
	transition: all 0.3s;
	justify-content: space-between;
	size: auto;
	cursor: pointer;
	font-size: 15px;
}

.button:focus {
	border-bottom: 4px solid;
	border-bottom-right-radius: 20px;
	color:white;
	transition: 02.ease;
}

/* styling of the user profile summary */
.userprof1 {
	box-sizing: border-box;
	width: 360px;
	opacity: 90%;
	background-color: black;
	height: 650px;
	border: 2px;
	border-style: solid;
	box-shadow: -3px -3px 7px #ffffff73;
	border-radius: 5px;
	margin-top: 50px;
	overflow: hidden;
	margin: 5px;
	text-align: center;
}

/* styling of the actual modal container box */
/* .modal-background {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center; */
	


/* styling of the modal contents */
/* .modal-box { */
	/* width: 500px;
	height: 300px;
	background: white;
	border-radius: 4px;
	text-align: center;
	padding: 20px;
	position: absolute; 
	position: relative;
	display: none; */


/* positioning and editing of the logo */
/* .modalimage {
	width: 100px;
	height: 100px;
} */

/* styling of the submit button*/
/* .modal-button { */
	/* background-color: black;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	cursor: pointer;
} */

/* editing hover function for submit buttom */
/* .modal-button:hover {
		background-color: black;
		color: pink;
		border: 2px solid white;
		cursor: pointer;
} */

/* organising input boxes of modal box */
/* .modal-input {
	width: 50%;
	display: block;
	margin: 15px auto;
	cursor: text; */



/* closing of the modal box */
/* .close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 40px;
	transform: rotate(45deg);
	cursor: pointer;
} */

.footer {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:black;
	border-bottom: solid 5px white;
	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	text-align: center;
	height: 60px;

  }
  
 .footer-text  {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	align-items: center;
}

.footer-button {
	background-color: black;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
	}
	
.footer-button:hover {
	background-color: black;
	color: pink;
	border: 2px solid white;
}

.buttonStyle {
	display: "inline-block";
	margin: "0";
	padding: "0.75rem 1rem";
	border: "0";
	border-radius: "0.617rem";
	background-color: "pink";
	color: "rgba(0, 0, 0, 0.6)";
	text-decoration: "none";
	font-weight: "700";
	font-size: "1rem";
	line-height: "1.5";
	width: "100%";
	font-family: '"Helvetica Neue", Arial, sans-serif';
	cursor: "pointer";
	margin-top: "20px";
}

/* @media screen and (min-width: 40em) {
    /* css overrides for mid-sized screens goes here 
      section {
          margin: 1rem;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: none;
          gap: 1rem;
      }
	  .container {
		color: white;
		width: auto;
		height: auto;
      }
	  .newUser { 
		width: auto;
		height: auto;

}
  }

  @media screen and (min-width: 60em) {
    /* css overrides for large screens goes here 
    section {
        grid-template-columns: auto auto auto;
    }
	.container {
		color: white;
		width: auto;
		height: auto;
      }

	.welcome {
			color: white;
			width: auto;
			height: auto;
		  }
	
	.newUser { 
		width: auto;
		height: auto;

} */
