*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}



/* header setting */ 
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:black;
	border-bottom: solid 5px white;
  }
  
  li {
	float: left;
  }
  
  /* colour of font */
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: rgb(153, 152, 152);
  }

  .searchBar {
	float: right;
  	padding: 6px;
  	border: none;
  	margin-top: 8px;
	margin-right: 16px;
	
}
/* Aligning user button to the right  */
.user {
	float: right;
}

/* amending main body of the page */
body {
	background-image: url("img/background.png");
	background-repeat: 'no-repeat';
	background-size: cover;
}

/* Div class container editing for the main text */
.container {
	justify-content: space-around;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	height: 10em;
    position: relative; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
	justify-content: space-around;
}

/* styling for "Welcome to ____" */
.welcome { 
	padding: 3px;
	height: 70px;
	width: 775px;
	background: black;
	font-size: 50px;
	justify-content: space-around;
	top: 30%;
}

/* styling for login */
.login { 
	padding: 3px;
	height: 50px;
	width: 400px;
	font-size: 40px;
	background: black;
    position: relative; 
    margin: 0;
    position: absolute;
    top: 76%;
    left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	justify-content: space-around;
}

/* styling for new user/register button */
.newUser {
	padding: 3px;
	height: 40px;
	width: 500px;
	font-size: 30px;
	background: black;
    position: relative; 
    margin: 0;
    top: 70%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
	justify-content: space-around;
}

/* draft styling for dashboard */
.activeProjects {
	padding: 3px;
	height: 30px;
	width: 450px;
	background: black;
	color: white;
	font-weight: bold;
    position: relative; 
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
	justify-content: space-around;
}

.userContainer {
	font-weight: bold;
	background-color: black;
	margin: 10px;
	color: white;
	height: 645px;
	width: 400px;
	float: right;	
	opacity: 85%;
}

.userDetails {
	text-align: center;
	
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	-webkit-animation-name: fadeIn; /* Fade in the background */
	-webkit-animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-duration: 0.4s
  }
  
 